/* Write your CSS here */

* {
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto';
  box-sizing: border-box;
}

.bg-container {
  background-color: #ffffff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  background-color: #150b3e;
  width: 480px;
  padding: 30px;
  border-radius: 10px;
}

.dp-icon {
  height: 65px;
  width: 65px;
  background-color: #c7d2fe;
  color: #7c3aed;
  font-size: 18px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

.name {
  color: #d4d2db;
  font-size: 22px;
  font-weight: 400;
}

.dp-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 55%;
}

.amount-container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
}

.amount-heading {
  color: #585076;
  font-size: 25px;
  font-weight: 500;
}

.amount-count {
  color: #c4c4c4;
  font-size: 33px;
  font-weight: 500;
}

.rupees-container {
  display: flex;
  flex-direction: column;
}

.rupees-heading {
  color: #585076;
  font-size: 15px;
  margin-top: 14px;
  font-weight: 500;
}

.side-heading {
  color: #c4c4c4;
  font-size: 30px;
  font-weight: 400;
}

.amount-side-heading {
  color: #585076;
  font-size: 20px;
  font-weight: 500;
  margin-top: 15px;
}

.list-item {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
}
